* {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  body {
    font: 16px/28px "Microsoft YaHei";
  }
  a {
    text-decoration: none;
  }
  .header {
    height: 50px;
    background-color: #f2f2f2;
    border: 0.1px #e5e5e5 dotted;
  }
  .header-first {
    float: left;
    width: 100px;
    height: 50px;
    margin-left: 500px;
  }
  .header-first a {
    display: block;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: #6c6c6c;
  }
  .header-second {
    float: left;
    width: 100px;
    height: 50px;
    margin-left: 50px;
  }
  .header-second a {
    display: block;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: #6c6c6c;
  }
  .header-third {
    float: left;
    width: 100px;
    height: 50px;
    margin-left: 420px;
  }
  .header-third a {
    display: block;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: #6c6c6c;
  }
  a:hover {
    color: red;
  }
  .top {
    height: 40px;
    margin-top: 5px;
  }
  .top-one {
    width: 800px;
    margin-left: 500px;
  }
  .top-one input {
    float: left;
    height: 36px;
    width: 700px;
    border: 2px solid red;
    border-right: 0;
  }
  .search {
    width: 700px;
    font-size: 20px;
    padding-left: 15px;
  }
  .top-one button {
    height: 40px;
    width: 83px;
    background-color: red;
    border: 0;
  }
  .btn {
    font-size: 20px;
    color: white;
    cursor: pointer; 
  }
  
  .banner {
    height: 250px;
    background-image: linear-gradient(
      to top left,
      rgb(238, 163, 65),
      rgb(248, 134, 4)
    );
    margin-top: 5px;
  }
  table {
    width: 800px;
    height: 250px;
  }
  table,
  th,
  td {
    font-size: 20px;
    text-align: center;
  }
  td {
    width: 100px;
  }
  .details a {
    color: black;
  }
  a:hover {
    color: red;
  }
  .one {
    width: 1000px;
    height: 65px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px dotted gray;
  }
  .one-one {
    float: left;
    height: 50px;
    width: 100px;
    margin-top: 5px;
  }
  .one-one img {
    width: 60%;
    height: 100%;
    margin-left: 20px;
  }
  pre {
    font-size: 10px;
  }
  .two {
    width: 1000px;
    height: 65px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px dotted gray;
  }
  .two-one {
    float: left;
    height: 50px;
    width: 100px;
    margin-top: 5px;
  }
  .two-one img {
    width: 60%;
    height: 100%;
    margin-left: 20px;
  }
  .three {
    width: 1000px;
    height: 65px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px dotted gray;
  }
  .three-one {
    float: left;
    height: 50px;
    width: 100px;
    margin-top: 5px;
  }
  .three-one img {
    width: 60%;
    height: 100%;
    margin-left: 20px;
  }