.login .input {
  /* background-color: gray; */
  height: 100px;
  width: 310px;
  margin-top: 75px;
  margin-left: 37px;
  line-height: 50px;
  /* margin: 20px auto; */
}
.click .action {
  float: right;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  line-height: 30px;
}
