* {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  body {
    overflow-x: hidden;
  }
  a {
    text-decoration: none;
  }
  ul {   
    list-style: none;
  }
  
  .header {
    height: 50px;
    background-color: #f2f2f2;
    border: 0.1px #e5e5e5 dotted;
    }
    .header-0 {
      float: left;
      width: 120px;
      height: 50px;
    }
    .header-0 ul li {
      float: left;
      margin-left: 10px;
    }
    .header-0 a {
      display: block;
      font-size: 20px;
      text-align: center;
      line-height: 50px;
      color: #6c6c6c;
      }
    .header-first {
    float: left;
    width: 140px;
    height: 50px;
    margin-left: 400px;
    }
    .header-first a {
    display: block;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: #6c6c6c;
    }
    .header-second {
    float: left;
    width: 120px;
    height: 50px;
    margin-left: 50px;
    }
    .header-second a {
    display: block;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: #6c6c6c;
    }
    .header-third {
    float: left;
    width: 300px;
    height: 50px;
    margin-left: 200px;
    }
    .header-third a {
    display: block;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: #6c6c6c;
    }
    a:hover {
    color: red;
    }
  
  
  
   
   
   .top2 {
       position: relative;
       width: 850px;
       height: 43px;
       margin: 0 auto;
       background-color: #f4921d;
      /* background-color: rgb(252, 161, 109);*/
   }
   .top2 .top21 {
       position: absolute;
       float: left;
        height: 43px;
        width: 600px;
       /* background-color: green;*/
   }
   .top21 li {      
    float: left;
    margin-left: 20px;
    font-size: 16px;
    line-height: 43px;
    
  }
  .top2 .top22 {
    position: absolute;
    float: left;
    left: 670px;
    height: 43px;
    width: 50px;
    /*background-color: green;*/
  }
  .top2 .top23 {
    position: absolute;
    float: left;
    left: 720px;
    height: 43px;
    width: 120px;
   /* background-color: green;*/
  }
  .photo {
    line-height: 43px;
    border-radius: 50%;
    
  }
  .person {
    padding-left: -60px;
    font-size: 24px;
    font-weight: bold;
  }
  .aa {
    line-height: 43px;
    font-weight: bold;
    font-size: 18px;
  }
  /*我的浏览*/
  .liulan {
    position: relative;
    width: 850px;
    height: 30px;
    margin: 0 auto;
    background-color:  rgb(247, 230, 214);
    /*background-color: rgb(118, 65, 240);*/
  }
  .text1 {
    padding-left: 15px;
    line-height: 30px;
  }
  .a1 {
  position: relative;
    width: 850px;
    height:90px;
  /*background-color:yellow;*/
    margin: 0 auto;
  }
  
  .a2 {
  position: absolute;
  top: 0px;
   width: 850px;
   height:35px;
  /* background-color: blue;*/
   margin: 0 auto;
   
  }
  .a2 .a21 {
    float: left;
    width: 300px;
    height: 35px;
  /*  background-color: rgb(86, 241, 106);*/
  }
  .a2 .a21 span{
    font-weight: bold;
    line-height: 35px;
    padding-left: 20px;
  }
  .a2 .a22 span{
    line-height: 35px;
  }
  .a2 .a22 {
    position: absolute;
    right: 5px;
    float: left;
    width: 300px;
    height: 35px;
  /*  background-color: rgb(61, 49, 38);*/
  }
  
  .a3 {
  position: absolute;
  top: 36px;
   width: 850px;
   height:35px;
  /* background-color: pink;*/
   margin: 0 auto;
   
  }
  .a3 li {
    float: left;
    margin-left: 20px;
    font-size: 14px;
    line-height: 35px;
  }
  .a4 {
  position: absolute;
  top: 72px;
   width: 850px;
   height:18px;
  /*   background-color: rgb(175, 135, 142);*/
   margin: 0 auto;
  }
  .a4 li {
    float: left;
    margin-left: 20px;
    font-size: 10px;
    line-height: 20px;
  }
  
  .ttt {
    color: red;
  }
  
  /*我的意向*/
  .yx {
    position: relative;
    width: 850px;
    height: 30px;
    margin: 0 auto;
    background-color:  rgb(247, 230, 214);
  /*  background-color: rgb(118, 65, 240);*/
  }
  /*进程一览*/
  .jc {
    position: relative;
    width: 850px;
    height: 30px;
    margin: 0 auto;
    background-color:  rgb(247, 230, 214);
  }
  .a3 .jin1 {
   float: left;
   width: 400px;
   height: 35px;
  /* background-color: yellow;*/
  
  }
  .a3 .jin2 {
    position: absolute;
    right: 100px;
    float: left;
    width: 150px;
    height: 35px;
   /* background-color: rgb(139, 196, 243);*/
  }
  .a3 .jin2 span {
     line-height: 35px;
     color: red;
     font-size: 18px;
     font-weight: bold;
  }